@namespace Vrap.LifeLog.Web.Features.DataTables.Create
@model CreateModel

<form hx-post="/DataTables/Create">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
        <p>@Html.ValidationMessage(nameof(CreateModel.Name))</p>
    </div>
    
    <button type="submit">Submit</button>
</form>
