@namespace Vrap.LifeLog.Web.Features.Data.Entry
@model EntryViewModel
@inject Vrap.LifeLog.Web.Infra.HumanizerService humanizer

@section Head {
    <link rel="stylesheet" href="/table.css" />
}

<h2>@Model.TableName</h2>
<p>@humanizer.ToDateTimeString(Model.Created)</p>

<div class="dual-grid">
    @foreach (var field in Model.Fields)
    {
        <p>@field.Name: </p>
        <p>@humanizer.FieldValueSlimToString(field.GetValue())</p>
    }
</div>
