@namespace Vrap.LifeLog.Web.Features.Data.Entry
@model EntryViewModel
@inject Vrap.LifeLog.Web.Infra.HumanizerService humanizer

@section Head {
    <link rel="stylesheet" href="/Data/entry.css" />
    <link rel="stylesheet" href="/table.css" />

}


<h2>@Model.TableName</h2>
<p>@humanizer.ToDateTimeString(Model.Created)</p>

<table class="table">
    @foreach (var field in Model.Fields)
    {
        <tr>
            <th class="narrow-col"><div>@field.Name</div></th>
            <td class="wide-col"><div>@humanizer.FieldValueSlimToString(field.GetValue())</div></td>
        </tr>
    }
</table>
