
#create-DataTable {
	align-self: flex-start;
}

#table {
	border-collapse: collapse;
	width: 100%;
}

#table, 
#table :is(th, td) {
	border: 1px solid black;
}

#table :is(th, td) :is(div, span, a) {
	padding: 6px;
}

#table .col-name {
	max-width: 0;
}

#table .col-name > div {
	overflow: hidden;
	text-overflow: ellipsis;
}

#table :is(.col-view, .col-edit) {
	width: 0;
	white-space: nowrap;
}
